@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  @apply w-full bg-hawkes-blue-500 flex flex-col items-center py-12 gap-4;
}
